    table {
      border-collapse: collapse;
      position: relative;
      margin-left: 43%;
    }

    td {
      border: 1px solid black;
      padding: 3px 5px;
    }	
.intuition{
	position: relative;
	margin-left: 44%;
}
#but{
	position: relative;
	margin-left: 10%;
}